<header id="header">
    <div id="head" class="parallax" data-parallax-speed="2"
        style="background-image:url('{{ .Site.BaseURL }}{{ .Site.Params.banner }}');">
        <h1 id="logo" class="text-center">
            <img class='img-{{ .Site.Params.avatarclass | default "circle"}}'
                src="{{ .Site.BaseURL }}{{ .Site.Params.avatar }}" alt="">
            <span class="title">{{ .Site.Params.name }}</span>
            <span class="tagline">{{ .Site.Params.description }}<br><br>
                <a href="mailto:{{ .Site.Params.email }}">Email</a> |
                <a href="https://twitter.com/scottynb">Twitter</a> |
                <a href="https://scholar.google.com.au/citations?user=PJcpaRAAAAAJ&hl=en&oi=ao">Publications</a> |
                <a href="https://au.linkedin.com/in/scott-barnett-9b94b768">LinkedIn</a>
            </span>
        </h1>

    </div>

    {{ partial "head/menu.html" . }}
</header>